<!-- User profile page -->
<div class="min-h-screen bg-slate-800 text-white">

  <!-- Username Header -->
  <h1 class="text-5xl font-extrabold mb-8 text-center bg-slate-300 text-slate-900 mx-5 p-10 rounded-lg shadow-lg">
    <%= @user.username %>'s Profile
  </h1>
</div>


