<!-- Show the attachments -->
<div class="min-h-screen bg-slate-800 ">
  <!-- Attachment title -->
  <h1 class="text-5xl font-extrabold mb-8 text-center bg-slate-300 text-slate-900 mx-5 p-10 rounded-lg shadow-lg">
     Attachment
  </h1>

  <!-- Show the description of the attachment -->
  <p class="text-2lg text-center p-10">
    <%=@attachment.description%>
  </p>

</div>
