<!-- Edit the previous content of the post -->
<div>
  <% content_for :page_title, "Edit post" %>
 <!-- Form Container -->
  <div class="bg-slate-800 p-6 rounded-2xl mx-auto shadow-2xl w-1/2">

    <%= render 'posts/form' %>
  </div>
</div>
