<!-- Main page for accessing all the blogs -->
<div>
  <!-- Title -->
  <h1 class="text-5xl font-extrabold mb-8 text-center bg-slate-300 text-slate-900 mx-5 p-10 rounded-lg shadow-lg">
    Hub
  </h1>
  <h1 class="text-2xl text-center">Blogs</h1>
  <!-- Container for all of the pots -->
  <div class="text-center bg-slate-900 text-white rounded-lg shadow-lg p-10 m-10">
    <!-- The posts themselves -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @posts.each do |post| %>
      <%= link_to post, class: "block bg-slate-700 rounded-lg p-5 m-2 transition hover:bg-slate-600" do %>
        <div>
          <h2 class="text-xl font-semibold text-white hover:text-amber-400"><%= post.title %></h2>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
